@import "../../components/const/colors.scss";


.largest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    padding-top: 2%;
    // padding-top: 4rem;
    background-image: url("../../assets/images/sss.png");

}
.lecturer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-image: url("../../assets/images/sss.png");
    .maps-container{
        width:50%;
        height: 729px;
        justify-content: center;
        object-fit: cover;
        background-size: contain;
        color: $lightness-color;
        display: flex;
        flex-direction: column;

        .sdu-in-google{
            display: flex;
            
            justify-content: center;
        }
        .address-cont{
            display: flex;
            flex-direction: column;
            .detailed-address{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 1rem;
                
                >p{
                    padding-left: 1rem;
                    width: 70%;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    text-align: center;
                }
            }

            .detail-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 1.7rem;
                .where-to-find{
                    display: flex;
                    width: 30%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    >p{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 171.69%;
                    }
                }
            }
        }
    }
}

.outer-container{
    display: flex;
    width: 757px;
    height: 95px;
    align-items: center;
    justify-content: center;
    .inner-container{
        display: flex;
        width: 648px;
        height: 100%;
        border-radius: 66px;
        align-items: center;
        justify-content: center;
        >h1{
            font-family: 'Roboto';
            font-style: normal;
            
            font-size: 128px;
            
            /* or 220px */

            text-align: justify;
            color: $lightness-color;
        }
    }
}


.contacts-container{
    width:50%;
    height: 729px;
    
    background-image: url("../../assets/images/phone.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
    color: $lightness-color;
    display: flex;

    .info-contact{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
        align-items: center;

        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .text{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
            }

        }
    }
    
    .drawing-line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 70%;
        border-right: 5px solid $lightness-color;
        justify-content: flex-end;
        .line{
            // background-image: url("../../assets/images/line.png") ;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 50%;
            
            .canvas-line{
                width: 50%;
                height: 100%;
                
            }
        }
        
        .heading-container{
            
            width: 50%;
            height: auto;
            display: flex;
            align-items:flex-end;
            justify-content: center;
            
            

            .photo-in{
                width: 80%;
                border-bottom: 5px solid $second-color;
                display: flex;
                align-items: center;
                justify-content: center;
                >img{
                    width: 208px;
                    height: 208px;
                }
            }

        
        }
    }

    .content{
        display: flex;
        width: 50%;
        height:40%;
        align-items: center;
        justify-content: center;
        

        >p{
            
            font-family: 'Tahoma';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 171.69%;
            text-align: center;
        }
    }

}