@import "../../components/const/colors.scss";
.main-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: url('../../assets/images/sdu.png') bottom, #2f2f2f fixed repeat;
    background-blend-mode: multiply;
    background-size: contain, cover;
    background-repeat: no-repeat;
    .to-the-top{
        display: flex;
        width: 8%;

        .top-button{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            border: none;
            background-color: #626262;
            background-attachment: fixed;
            opacity: 0;
            color: $lightness-color;
            justify-content: center;
            .scroll-to-top{
                background-color: #626262;
                background-attachment: fixed;
            }

            .scroll{
                position: inherit;
                width: 100%;
                height: 100%;
                border: none;
            }
            
        }
        >button:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .post-container{
        display: flex;
        flex-direction: column;
        width: 62%;
        height: 100%;
        align-items: center;
        padding: 58px 30px 58px 80px;
        .actualnoe{
            padding-bottom: 2rem;
            >p{
                color: $lightness-color;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 64px;
                line-height: 112px;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .posts{
            width: 100%;
        }
    }
    .filter-post{
        display: flex;
        flex-direction: column;
        width: 27%;
        padding: 3rem 20px;
        .search-field{
            margin-top: 40px;
            >input{
                width: 78%;
                height: 57px;
                border-radius: 40px;
                background: url("../../assets/images/search.png") right, $lightness-color;
                background-repeat: no-repeat;
                padding-left: 2rem;
                font-size: 1.5rem;
            }
        }
        .post-type{
            width: 78%;
            display: flex;
            flex-direction: column;
            background-color: $lightness-color;
            border-radius: 33px;
            padding: 21px 36px 26px 37px;
            margin-top: 59px;
            
            .post-type-1{
                padding-bottom: 8px;
                border-bottom: solid $primary-color;
                text-align: center;
                >p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
            .post-type-2{
                margin-top: 22px;
                display: flex;
                flex-direction: row;
                align-items: center;
                >p{
                    margin-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
        }

        
    }
}