@import "../../components/const/colors.scss";
.main-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: url('../../assets/images/sdu.png') bottom, url('../../assets/images/back-actual.png') fixed repeat;
    background-size: contain, cover;
    background-repeat: no-repeat;
    .to-the-top{
        display: flex;
        width: 8%;

        .top-button{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            border: none;
            background-color: #0A2354;
            background-attachment: fixed;
            opacity: 0;
            color: $lightness-color;
            justify-content: center;

            .scroll{
                position: inherit;
                width: 100%;
                height: 100%;
                background-color: #0A2354;
                border: none;
            }
            
        }
        >button:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .post-container{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100%;
        align-items: center;
        padding: 58px 80px;
        .actualnoe{
            padding-bottom: 2rem;
            >p{
                color: $lightness-color;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 96px;
                line-height: 112px;
                text-align: center;
            }
        }
        .posts{
            width: 80%;
        }
    }
    .filter-post{
        display: flex;
        flex-direction: column;
        width: 27%;
    }
}