@import "../const/colors.scss";

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5em 3em;
    background-color: $lightness-color;

    .logos-banner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .technopark-logo img {
            height: 3em;
            width: auto;
        }

        .social-networks {
            display: flex;
            flex-direction: row;
            align-items: center;

            .sn-link img {
                height: 1.5em;
                width: auto;
            }
        }
    }

    .copyrights {
        display: flex;
        flex-direction: column;
        color:#072A6D;

        .need-help {
            display: flex;
            flex-direction: row;
            justify-content: left;

            h1 {
                font-family: 'Roboto', serif;
                font-weight: 300;
                font-size: 1.8em;
                text-align: center;
                color: #072A6D;
            }

            a {
                font-family: 'Roboto', serif;
                text-decoration: none;
                font-weight: 300;
                font-size: 1.8em;
                text-align: center;
                color: #072A6D;
            }
        }

        .uni-contacts{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;

            .contact{
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    font-family: 'Roboto', serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.8em;
                    text-align: center;
                }
            }
        }
    }
}