@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 772px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.banner-wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
    max-width: inherit;
    min-height: inherit;
}

.banner-h1 {
    position: relative;
    z-index: 1;
    top: 151px;
    left: 106px;
    width: 1005px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.span-first {
    position: absolute;
    left: 8px;
    font-size: 64px;
}

.span-second {
    font-size: 128px;
}

.span-third {
    position: absolute;
    left: 193px;
    top: 149px;
    font-size: 96px;
}

.span-fourth {
    position: absolute;
    left: 387px;
    top: 192px;
    font-size: 250px;
}

.banner-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: rgba(55, 55, 55, 1);
    background-color:rgba(217, 217, 217, 0.25);
    cursor: pointer;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    &.arrowLeft {
        left: 50px;
    }
    &.arrowRigth {
        right: 50px;
    }
}

.banner-dots {
    position: absolute;
    bottom: 46px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 33px;
    list-style-type: none;
    width: 100%;
}

.banner-dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.blueArrow {
    position: relative;
    z-index: 0;
    bottom: 105px;
    left: 0;
    width: 1111px;
    height: 434px;
    background-image: url(../../assets/images/banner-arrowBlue.svg);
    opacity: 0.7;
    transform: all 0.5s ease-in;
}

.banner-slides {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
    min-height: 100%;
    transition: all 0.5s ease-in-out;
}

.banner-slide {
    width: 100vw;
    min-height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}