.main-post{
    display: flex;
    flex-direction: column;
    width: 70%;
    .post{
        display: flex;
        flex-direction: column;
        .post-name{

        }
    }
    .comment{

    }
}