@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url(../../assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

.about-section {
  position: relative;
  padding-top: 70px;
  width: 100%;
  min-height: 1019px;
  border-top: 1px solid #000;

  &.first {
    border-top: none;
    box-shadow: 
      inset 0px 10px 3px -3px rgba(50, 50, 50, 0.25);

    & > p {
      position: absolute;
      bottom: 115px;
      left: calc(50% - 341px);
      max-width: 683px;
    }
  }

  & > p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #474747;
    text-align: center;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 96px;
  letter-spacing: 0.175em;
  text-align: center;
}

.about-img-block {
  position: relative;
  top: -20px;
  width: 100%;
  height: 796px;

  & > img {
    position: absolute;
    bottom: 0;
  }

  .puzzle-right {
    right: 0;
  }

  & > div {
    position: absolute;
    left: calc(50% - 100px);
    top: 93px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #E4E4E4;
    border-radius: 50%;
  }
}

.arrowDown {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 18px);
  transform: rotate(270deg);
  background: none;
  border: none;
  color: #9f2728;
  font-size: 50px;
  cursor: pointer;
  animation: arrow 1s infinite;
  animation-timing-function: steps(100, jump-none);
}

@keyframes arrow {
  0% { bottom: 10px; }
  25% { bottom: 15px; }
  50% { bottom: 10px; }
  75% { bottom: 5px; }
  100% { bottom: 10px; }
}

.about-button-block {
  padding: 3px;
  width: max-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  background: #072A6D;
  border-radius: 40px;

  & > button {
    width: 365px;
    height: 61px;
    border: none;
    border-radius: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    background: #072A6D;

    &:disabled {
      color: #474747;
      background: #fff;
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

.about-carousel {
  width: 100%;
  min-height: 267px;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.about-carousel__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 100px;

  &.animation {
    transform: translateX(-100px);
  }
}

.under-carousel__name {
  padding-top: 62px;
  letter-spacing: 0.175em;
}

.under-carousel__text {
  padding: 53px 264px 128px;
}

.about-section-block {
  margin-top: 380px;
  margin-left: 176px;
  width: max-content;
  
  & > img {
    width: 137px;
  }
  
  & > h2 {
    max-width: 872px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 96px;
    line-height: 112px;
    letter-spacing: 0.05em;
    color: #000;
    margin-top: 14px;
    margin-bottom: 23px;
  }
}

.block-button {
  width: 355px;
  height: 87px;
  background: #9F2728;
  border: none;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 54px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.img-composition {
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;

  & > div {
    z-index: 0;
    position: absolute;
    height: 806px;
    width: 806px;
    border: 140px solid #072A6D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      height: 306px;
      width: 306px;
      background: #072A6D;
      border-radius: 50%;
    }
  }

  & > img {
    position: relative;
    z-index: 1;
  }
}