@import "../../components/const/colors.scss";


h1{
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


.mission-container{
    
    display: flex;
    flex-direction: column;
    
    background-color: $primary-color;
    padding: 50px;
    color: $lightness-color;
    

    .heading-container{
        padding: 20px;
    }

}

.black{
    color: $third-color;
    
}

.white{
    background-color: $second-primary-color;
}
.our-team{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .our-team-head{
        padding: 3rem 1rem 1rem 2rem;
        text-align: center;
        font-size: 25px;
        color: $second-color;

        >h4 {
            font-size: 35px;

        }
    }
    .team-members{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0 auto;


        .member{
    
        margin: 1rem auto;
        width: 17%;
        height: 350px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
        .member-photo{
        width: 100%;
        height: 75%;
        
        

        > img {
            width:100%;
            height: 100%;
            border-radius: 25px 25px 0px 0px;
            object-fit: cover;
        }
    }

    .member-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $lightness-color;
        padding-bottom: 0px;
        background-color: $second-color;
        height: 25%;
        border-radius: 0px 0px 25px 25px;

        > h4 {
            padding: 0.5rem 0;
        }
        
    }
}}
.galleries{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $primary-color;
    .gallery-head{
        padding: 2rem 2rem;
        text-align: center;
        font-size: 25px;
        color: $lightness-color;
    }


.galleries-main{
    
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .gallery{
        padding: 0.5rem;
        margin: 1rem auto;
        width: 23%;
        height: 450px;
        background-color: $lightness-color;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
        .gallery-photo{
            width: 100%;
            height: 85%;
        
        

            > img {
            width:100%;
            height: 100%;
            object-fit: cover;
            }
        }

        .gallery-info{
            text-align: center;
            color: $lightness-color;
            padding-bottom: 0px;
            background-color: $second-color;
            height: 15%;

            > p {
                padding: 0.7rem;
            }
        }
    }
}}